body{
	/*background:url("../../maison/images3.jpg") repeat;*/
	background-color:white;
	
}

#page_principal{
	position:relative;
	z-index:100;
	left:0;right:0;
	height:100%;
	transition-duration:1s;
	-moz-transition-duration:1s;
	-ms-transition-duration:1s;
	-o-transition-duration:1s;
  -webkit-transition-duration:1s;
}
/*********mon entete*****************/
		/**********mon header****************/
		header{
			position:fixed;
			display:block;
			z-index:500;
			height:40px;
			width:100%;
			top:0;left:0;right:0;
			background:#6cab55;
			z-index:700;
		}

		#search_header{
			position:absolute;
			right:40px;
			display:inline-block;
			height:40px;
			width:10%;
			line-height:40px;
			margin-right:2%;
		}
		
		#menudoptions{
			position:absolute;
			z-index:4;
			top:0px;
			right:1%;
			width:40%;
			height:auto; 
			background-color:white;
			color:black;
			padding-top:3%;
		}
		
		#menudoptions a{
			display:block;
			position:relative;
			left:5%;
			margin-bottom:5%;
			text-decoration:none;color:black;
			font-size:105%;
		}
		#menu_header {
			position:absolute;
			top:50%;
			transform:translatey(-50%);
		}
		#menu_header img{
			height:30px;
			width:70px;
		}
		/***********************mon entete de navigation*********/
			#navigation{
				position:fixed;
				display:block;
				top:40px;
				z-index:500;
			}
			#navigation ul{
				list-style-type: none;
				display:block;
			}
			#navigation ul li a{
				display:block;
				width:100%;
				height:40px;
				line-height:40px;
				text-align:center;
				font-size:1.2em;
				color:black;
				text-decoration:none;
			}
			
		/********************************************
/*****************fin entete********************/

/***********affichage corps****************/
			#affichagedetailpharmacies{
				position:absolute;
				z-index:300;
				top:82px;
				margin-bottom:80px;
				left:0px;right:0px;
			}
			#messagesarrives,#affichagedetailpharmacies,#affichepoussee,#affichepagenavigationrecherche,#affichepagenavigationcode,#affichepagenavigationaccueil{
				overflow-y:auto;
				position:absolute;
				z-index:300;
				top:81px;
				margin-bottom:80px;
				left:0px;right:0px;
			}
/*******fin affichage corps******************/

/***********pied de page**************/
			footer{
				position:fixed;
				display:block;
				z-index:500;
				height:80px;
				bottom:0px;
				left:0px;
				right:0px;
				background-color:dimgray;
				
			}
			footer img{
				margin:auto;
				width:100px;
			}
/************fin pied de page**********/

/************affichage des panels*******/
			#panel_right{
				position:fixed;
				right:0px;
				width:70%;
				height:100%;
				z-index:600;
				bottom:0px;top:0px;
				background:white;
			}
			
			#corprechercheSP{
				position:absolute;
				margin-top:15%;
				height:auto;
				text-align:center;
				overflow-y:auto;
			}
			.masque_right{
				transform:translatex(300px);
				-webkit-transform:translatex(300px);
				-o-transform:translatex(300px);
				-ms-transform:translatex(300px);
				-moz-transform:translatex(300px);
			}
			#ferme_recherche{
				cursor:pointer;
			}
			#options{
				position:relative;
				display:inline-block;
				width:15px;
				height:15px;
				text-align:center;
				cursor:pointer;
				float:right;
				right:2%;
				top:50%;
				transform:translatey(-7.5px);
			}
			#firstp{
				width:2.5px;
				height:2.5px;
				position:relative;
				top:1.25px;
				margin-left:auto;
				margin-right:auto;
				background-color:white;
			}
			#secondp{
				width:2.5px;
				height:2.5px;
				position:relative;
				margin-top:2.5px;
				margin-left:auto;
				margin-right:auto;
				background-color:white;
			}
			#thirdp{
				width:2.5px;
				height:2.5px;
				position:relative;
				margin-top:2.5px;
				margin-left:auto;
				margin-right:auto;
				bottom:1.25px;
				background-color:white;
			}
/***********fin affichage des panels***/
		#datecommandes,#tabcommandes,#panelchoixrecherche{
			border-bottom:none;
		}
		body .reserver{
			display:block;
			word-wrap: break-word;
		}

