<div class="panel panel-primary">
			<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>Noms pharmacie(s)</th>
							<th>Dépense(s)</th>
						</tr>
					</thead>
					<tbody id="corps_identifiants"></tbody>
			</table>
		</div>