						<div class="panel panel-primary col-xs-12 col-sm-12 col-md-12" id="details">
							<div class="panel-heading">
								<div class="panel-title"><center><button class="pull-left btn btn-info" id="retour"><span class="glyphicon glyphicon-arrow-left"></span></button>Detail de la selection <button class="btn btn-info pull-right relance"><span class="glyphicon glyphicon-refresh"></span></button></center></div>
							</div>
							<div class="panel-body" id="mes_details">
											
							</div>
						</div>
