	<div class="panel panel-primary">
								<div class="panel panel-heading">
									<center><h4 class="panel-title"></h4><button class="btn btn-info pull-right relancerecherchepousse" style="display:none"><span class="glyphicon glyphicon-arrow-left"></span></button><center>
								</div>
								<div class="panel panel-body">
									<form method="post" action="#" id="first_form2">
										<div class="form-group">
											<center><label>Quel est le nombre de medicaments ?</label></center><input type="number" placeholder="Nombre de medicaments" name="nbre_medoc" id="nbre_medoc2" class="form-control" max='6' min="1" required>
										</div>
										<button type="button" class="btn btn-success" id="envoi_nbre_medoc2"><span class="glyphicon glyphicon-ok-sign"></span> OK</button>
									</form>
								</div>
				</div>