<div class="panel panel-primary">
								<div class="panel panel-heading">
									<center><h4>Champs obligatoires</h4><center>
								</div>
								<div class="panel panel-body">
									<form method="post" action="#" id="first_form">
										<div class="form-group">
											<center><label>choisir votre ville de recherche(par défaut c'est celle où vous êtes)</label></center>
											<select class="form-control ville" id="valville"></select>
										</div>
										<div class="form-group">
											<center><label>Quel est le nombre de medicaments ?</label></center><input type="number" placeholder="Nombre de medicaments" name="nbre_medoc" id="nbre_medoc" class="form-control" max='6' min="1" required>
										</div>
										<button type="button" class="btn btn-success" id="envoi_nbre_medoc"><span class="glyphicon glyphicon-ok-sign"></span> OK</button>
									</form>
								</div>
				</div>