					<div class="modal-header"></div>
					<div class="modal-body">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h4><center>Veuillez remplir ces champs</center></h4>
							</div>
							<div class="panel-body">
								<form action ="#" data-url="http://etudiant8fala.esy.es/documents/controleur/traite_form_enregistrement.php" method="post" id="form_enregistrement">
									<div class="input-group col-lg-3 form-group">
										<span class="input-group-addon">Nom:</span>
										<input type="text" class="form-control" name="nom">
									</div>
									<div class="input-group col-lg-3 form-group">
										<span class="input-group-addon">Prenom:</span>
										<input type="text" class="form-control" name="prenom">
									</div>
									<div class="input-group col-lg-3 form-group">
										<span class="input-group-addon">E-mail:</span>
										<input type="text" class="form-control" name="email">
									</div>
									<div class="input-group col-lg-3 form-group">
										<span class="input-group-addon">Telephone:</span>
										<input type="text" class="form-control" name="tel">
									</div>
									<button type ="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Valider</button>
									<input type="reset" id="reseteur" style="display:none">
								</form>
							</div>
						</div>
					</div>
				

