<div class="panel panel-primary" id="panelchoixrecherche">
								<div class="panel panel-heading">
									<center><h4>Choix de la recherche</h4><center>
								</div>
								<div class="panel panel-body" id="choixrecherche">
										<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<label id="rp">Envoyer une ordonnance(photo)</label><input type="radio" class="pull-right" id="rp" name="rp">
										</div>
										<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<label id="re">Entrer les médicaments à rechercher</label><input type="radio" class="pull-right" id="re" name="re">
										</div>
										<div class="form-group">
											<button class="btn btn-success" id="btnchoixrecherche">OK <span class="glyphicon glyphicon-thumbs-up"></span></button>
										</div>
								</div>
				</div>