<div class="panel panel-primary">
								<div class="panel panel-heading">
									<center><h4 class="panel-title"></h4><center>
								</div>
								<div class="panel panel-body" id="choixrecherche">
										<form method="post" id="envoiphotoordonnance" data-url="http://etudiant8fala.esy.es/documents/controleur/traite_photoordonance.php" enctype="multipart/form-data">
											<div class="form-group">
												<label><center>Veuillez envoyer votre ordonnance(photo) ci-dessous</center></label>
												<input type="file" class="form-control" id="photoordonnance" name="rphotoordonnance">
											</div>
											<div class="form-group">
												<button class="btn btn-success" type="submit" id="btnchoixrecherche">OK <span class="glyphicon glyphicon-thumbs-up"></span></button>
											</div>
										</form>
								</div>
				</div>