			<div class="panel panel-primary">
					<div class="panel-heading">
						<h4><center>Formulaire d'inscription</center></h4>
					</div>
					<div class="panel-body">
						<form action ="" method="post" data-url="http://etudiant8fala.esy.es/documents/controleur/traite_form_inscription.php" enctype="multipart/form-data" id="form_inscription">
							<div class="form-group">
								<label for="nom">Nom:</label>
								<input type="text" class="form-control" required id="nom"  name="nom" placeholder="entrer votre nom">
							</div>
							<div class="form-group">
								<label>Prenom:</label><input type="text" class="form-control" required name="prenom" placeholder="entrer votre prenom">
							</div>
							<div class="form-group">
								  <label>Sexe:</label>
								  <select name="sexe" class="form-control" required>
										<option value="m">Masculin</option>
										<option value="f">Feminin</option>
								  </select>
							</div>
							<div class="form-group">
								<label>Date de naissance:</label><input type="date" required class="form-control" name="date_nai">
							</div>
							<div class="form-group">
								<label>Email:</label><input type="email" class="form-control" name="email" placeholder="votre email" required>
							</div>
							<div class="form-group">
								<label>Telephone:</label><input type="number" name="telephone" class="form-control" placeholder="numero de telephone" required>
							</div>
							<div class="form-group">
								<label>Mot de passe:</label>
								<div class="input-group col-xs-12 col-sm-12 col-md-12">
									<input class="form-control" type="password" name="pwd" placeholder="mot de passe">
									<span class="input-group-addon demasquer"><a href="">démasquer</a></span>
									<span class="input-group-addon masquer" style="display:none"><a href="">masquer</a></span>
								</div>
							</div>
							<div class="form-group">
								<label>Photo:</label><input type="file" name="photo" class="form-control" required>
							</div>
							<button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok-sign"></span> Envoyer</button>
						</form>
					</div>
				</div>
