	<form class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-url="http://etudiant8fala.esy.es/documents/controleur/analyserechercheSP.php" id="form_rechercheSP">
							<div class="form-group" style="margin-top:5%">
								<label for="valville2">Ville:</label>
								<select class="form-control ville" id="valville2"></select>
							</div>
							<div class="form-group">
								<label for="noms_pharmacies">Nos pharmacies(de la ville choisie):</label>
								<select class="form-control" id="noms_pharmacies"></select>
							</div>
							<div class="form-group">
								<label for="ho">Heure d'ouverture:</label>
								<input name="ho" id="ho" type="time" class="form-control">
							</div>
							<div class="form-group">
								<label for="hf">Heure de fermeture:</label>
								<input name="hf" id="hf" type="time" class="form-control">
							</div>
							<button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok-sign"></span> Rechercher</button>
						</form>