						<div class="panel panel-success col-xs-12 col-sm-12 col-md-12 col-lg-12" id="resultatR">
							<div class="panel-heading">
								<span class="panel-title">
									<center>Resultat(s) de la recherche <button class="btn btn-info pull-right relance"><span class="glyphicon glyphicon-refresh"></span></button></center>
								</span>
							</div>
							<div class="panel-body" id="mes_pharmacies">
											
							</div>
						</div>
