<!--saisie des medicaments a rechercher -->
					<div class="panel panel-primary" id="form_enter_medoc" style="display:none">
						<div class="panel-heading">
							<h1><center>Entrez les médicaments à rechercher</center></h1>
						</div>
						<div class="panel-body">
							<form id="form_medoc" data-url="http://etudiant8fala.esy.es/documents/controleur/verif_existance_medoc.php" method="post" action="#"></form>
							<!--<form id="form_code" data-url="controleur/verif_existance_medoc.php" method="post" action="#"></form>-->
						</div>
					</div>
				<!--fin formulaire saisie des medocs -->