		<div id="page_principal">
			<header>
			<!-- bouton menu-->
				<div id="menu_header">
					<h6 style="color:white">BRIDGE-PHARMA</h6>
				</div>
				<!-- <div id="search_header" > -->
					<!-- <a id="recherche" href=""><span style="color:white"class="glyphicon glyphicon-search"></span></a> -->
				<!-- </div> -->
				<div id="photo_profil"></div>
				<div id="options">
					<div id="firstp"></div>
					<div id="secondp"></div>
					<div id="thirdp"></div>
				</div>
				<div id="menudoptions" style="display:none">
					<a href="tel:+237693159279">Nous contacter</a>
					<a href ="#" id="commandes">Mes commandes</a>
					<a href="#" id="parametre">Parametre</a>
				</div>
				<div id="alerteur" style="position:relative;top:60%;display:none;z-index:10000;text-align:center" class="alert alert-info alert-lg"></div>
			</header>
			<nav id="navigation" style="background-color:#6cab55;width:100%;height:40px">
				<ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="accueil" name="">
						<a href="#"><span class="glyphicon glyphicon-home"></span></a>
					</li>
					<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4 s8_lrm" name="" id="lrm">
						<a href="#">LRM</a>
					</li>
					<!-- <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="code" name=""> -->
						<!-- <a href="#">Cmd(s)</a> -->
					<!-- </li> -->
					<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="message" name="">
						<a href="#"><span class="glyphicon glyphicon-envelope glyphicon-primary"></span><span class="badge" style="display:none" id="nbremsg"><span/></a>
					</li>
				</ul>
			</nav>
			<section>
				<div id="affichepop"></div>
				<div id="affichepagenavigationrecherche" style="display:none"></div>
				<div id="affichepagenavigationcode" style="display:none"></div>
				<div id="affichepagenavigationaccueil" style="display:none"></div>
				<div id="affichepagecommande" style="display:none">
					<div class="panel panel-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="panel-heading">
								<h1 class="panel-title" id="letitre"><span class="glyphicon glyphicon-arrow-left faitretour" style="cursor:pointer"></span><center>Mes commandes</center></h1>
							</div>
							<div class="panel-body" id="listecmd"></div>
					</div>
				</div>
				<div id="affichepoussee" style="display:none"></div>
				<div id="messagesarrives" style="display:none"></div>
				<div id="affichagedetailpharmacies" style="display:none">
					<div id="afficheRspecifique" style="display:none"></div>
					<div id="carroussel_detail">
						<div id="outils" class="col-lg-12 col-sm-12 col-xs-12">
							<button class="pull-left btn btn-info btn-md retouralaccueil">
								<span class="glyphicon glyphicon-arrow-left"><span>
							</button>
							<center></center>
						</div>
						<div id="carroussel" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div><br><br>
						<div class="panel panel-default">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<button class="pull-left  btn btn-info Rspecifique" name="affichetoidsdetail">Rechercher</button>
								<button class="pull-right btn btn-success"><span class="glyphicon glyphicon-hand-right" style="color:blue"></span> Nous contacter</button><br><br>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-heading" id="detail"></div>
							<div class="panel-body">
								<label><center>Information suplémentaire</center></label><br><br>
									<table class="table table-condensed table-responsive" style="border-color:red">
										<td id="comment"></td>
									</table>
							</div>
						</div>
					</div>
				</div>
			</section>
			<footer>
					<div id="carousel" class="carousel slide">
						<div class="carousel-inner">
							<div class="item active img-responsive" width="40px" height="15px">
								<img alt = "" src="imagespub/1.jpeg" class="img-responsive">
								<h3 class="carousel-caption">Une présentation 1</h3>
							</div>
							<div class="item  img-responsive" width="40px" height="15px">
								<img alt = "" src="imagespub/2.jpg" class="img-responsive">
								<h3 class="carousel-caption">Une présentation 2</h3>
							</div>
							<div class="item  img-responsive" width="40px" height="15px">
								<img alt = "" src="imagespub/3.jpg" class="img-responsive">
								<h3 class="carousel-caption">Une présentation 3</h3>
							</div>
							<div class="item  img-responsive" width="40px" height="15px">
								<img alt = "" src="imagespub/4.jpg" class="img-responsive">
								<h3 class="carousel-caption">Une présentation 4</h3>
							</div>
							<div class="item  img-responsive" width="40px" height="15px">
								<img alt = "" src="imagespub/5.jpg" class="img-responsive">
								<h3 class="carousel-caption">Une présentation 5</h3>
							</div>
							<div class="item  img-responsive" width="40px" height="15px">
								<img alt = "" src="imagespub/6.jpg" class="img-responsive">
								<h3 class="carousel-caption">Une présentation 6</h3>
							</div>
							<div class="item  img-responsive" width="40px" height="15px">
								<img alt = "" src="imagespub/7.jpg" class="img-responsive">
								<h3 class="carousel-caption">Une présentation 7</h3>
							</div>
							<div class="item  img-responsive" width="40px" height="15px">
								<img alt = "" src="imagespub/9.jpg" class="img-responsive">
								<h3 class="carousel-caption">Une présentation 8</h3>
							</div>
						</div>
						<a class="left carousel-control" href="#carousel" data-slide="prev">
							<span class="icon-prev"></span>
						</a> 
						<a class="right carousel-control" href="#carousel" data-slide="next"> 
							<span class="icon-next"></span>
						</a>
					</div>
			</footer>
			</div>
			<div class="panel panel-primary  masque_right" id="panel_right" style="display:none">
					<div class="panel-heading col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h1 class="panel-title"><button id="ferme_recherche" class="btn btn-danger pull-left">X</button><center>Recherche personnalisée</center></h1>
					</div>
					<div class="panel-body" id="corprechercheSP"></div>
			</div>
			<div class="modal" id="infos">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">x</button>
							<h4 class="modal-title"></h4>
						</div>
						<div class="modal-body" id="modalbodypayement">
							<div  id="monaccordeon" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="panel panel-info options_payement" id="payer">
										<div class="panel-heading">
											<h3 class="panel-title">
											<a class="accordion-toggle" href="#payer" data-parent="#monaccordeon" data-toggle="collapse"><center>Par moi</center></a>
											</h3>
										</div>
										<div id="payer" class="panel-collapse collapse in">
											<div class="panel-body">
												<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<label for="om">Payer via orange money </label><input type="radio" id="om" name='om' class="pull-right">
												</div>
												<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<label for="cv">Payer par carte visa </label><input type="radio" id ="cv" name='cv' class="pull-right">
												</div>
											</div>
										</div>
									</div>
							</div>
							<div  id="monaccordeon2" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="panel panel-info options_payement" id="payer">
										<div class="panel-heading">
											<h3 class="panel-title">
											<a class="accordion-toggle" href="#payer" data-parent="#monaccordeon" data-toggle="collapse"><center>Par quelqu'un d'autre</center></a>
											</h3>
										</div>
										<div id="payer" class="panel-collapse collapse in">
											<div class="panel-body">
												<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<input type="number" id ="another" name='another' class="pull-right">
												</div>
											</div>
										</div>
									</div>
							</div>
							<!-- <div  id="monaccordeon" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
								<!-- <div class="panel panel-success options_payement" id="payeretlivrer"> -->
									<!-- <div class="panel-heading"> -->
										<!-- <h3 class="panel-title"> -->
											<!-- <a class="accordion-toggle" href="#payerlivrer" data-parent="#monaccordeon" data-toggle="collapse"><center>Payer et se faire livrer</center></a> -->
										<!-- </h3> -->
									<!-- </div> -->
									<!-- <div id="payerlivrer" class="panel-collapse collapse in"> -->
										<!-- <div class="panel-body col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
													<!-- <div class="form-group"> -->
														<!-- <label>Quel est votre choix de livraison (en fonction de la distance)</label> -->
														<!-- <select class="form-control"> -->
															<!-- <option value='express'>Livraison Express -> 300 FCFA</option> -->
															<!-- <option value='24h'>Apres 24h -> 100 FCFA</option> -->
														<!-- </select> -->
													<!-- </div> -->
													<!-- <div class="form-group"> -->
														<!-- <label for="adresse">Veuillez renseigner l'adresse grace à laquelle nous pouvons vous livrer</label> -->
														<!-- <input type='text' name='adresse' id='adresse' placeholder="Ex:419GJR"> -->
													<!-- </div> -->
													<!-- <div class="form-group"> -->
														<!-- <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
															<!-- <label for="ometlivrer">Payer via orange money </label><input type="radio" name='ometlivrer' id="ometlivrer" class="pull-right"><br><br> -->
														<!-- </div> -->
														<!-- <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
															<!-- <label for="cvetlivrer">Payer par carte visa </label><input type="radio" name='cvetlivrer' id="cvetlivrer" class="pull-right"> -->
														<!-- </div> -->
													<!-- </div>  -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
							<!-- </div> -->
						</div>
						<div class="modal-footer">
						<button class="btn btn-info" data-dismiss="modal" id="soumetdialogpayement">ok</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal col-xs-12 col-sm-12 col-md-12 col-lg-12" id="progressionbarre">
						<div class="modal-dialog modal-md">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Veuillez patienter la fin du chargement</h4>
								</div>
								<div class="modal-body">
									<progress id="progressbarre" max="100" value="0" style="width:500px"></progress><br>
								</div>
							</div>
						</div>
			</div>
